 *{
        margin: 0;
        padding: 0;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    body{
        background-image: url(OIG.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .main{
        box-sizing: border-box;
        padding: 20px;
        margin: 15vh auto auto auto;
        border: 2px solid #eee;
        width:28vw;
        /* height: 70vh; */
        height: fit-content ;
        border-radius: 10px;
        background-color: rgba(237, 237, 237, 1);
    }
    h1{
        font-size: 2rem;
        margin: 20px auto 60px auto;
        border-bottom: 5px solid red;
    }
    input{
            width: 85%;
            margin: 10px 0px;
            padding: 16px;
            font-size: 1em;
            /* border-radius: 5px; */
        }
    .border_mk{
        border-top: 0px;
        border-left:0px;
        border-right: 0px;
    }
    p{
        margin-top: 20px;
    }
    #login_f1, #signup_f2{
        box-sizing: border-box;
        width: 70%;
        font-size: 1em;
        padding: 5px 20px;
        margin: 10% 15% 2% 15%;
        border-radius: 50px;
    }
    #signup, #login_f2{
        box-sizing: border-box;
        width: 70%;
        font-size: 1em;
        padding: 5px 20px;
        margin: 1% 15% 1% 15%;
        border-radius: 50px;
    }
    #login_f1:hover,  #signup_f2:hover{
        cursor: pointer;
        background-color: rgba(1,1,1,0.4);
        color: white;   
        transition: all 0.4s ease-in-out;
    }
    /* #newUserHelp{
        margin-top: 10px;
    } */
    .hidden{
        display: none;
    }
    .show{
        display: block;
        /* width: fit-content;
        height: fit-content; */
        /* background-color: yellow;
        font-weight: 900; */
    }
    #error{
        color: red;
        border: 2px solid black;
        height: fit-content;
        width: 50vw;
        margin: 10px auto; 
        box-sizing: border-box;
        padding: 10px;
        background-color: rgba(1, 1, 1, 1);
    }
